@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: #000;
    --white: #fff;
    --main-color: #88ef46;
}
html, body{
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;

}
html{
    font-size: 16px;
}
button{
    border-radius:10px;
	cursor:pointer;
	font-weight:bold;
	padding: .5rem 1rem;
    transition-duration: 0.4s;
    background-color: var() ;
    color: #000;
    border: 2px solid var(--black);
}
button:hover {
    border: 2px solid var(--main-color);
}
header{
    padding: 1rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: .5rem;
    background-color: var(--black);
    margin: .5rem;
    user-select: none;
    width: fit-content
}
.grid-item{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}